.card-main__image {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 12px 0px #00000026;
  position: relative;
  min-width: 180px;
  height: 100%;
}
.card-main__image-fullfiled {
  width: 180px;
  height: 100%;
}
.card-main__image-default {
  width: 100px;
  height: 100px;
}
